/* -------------- global styling -------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}
:root{
    --white:rgb(201, 189, 189);
    --main: #040a3a;
    --light: rgb(243, 122, 180);
    /* 374153 */
    --bg: #1A202C;
    --lbg: #2d374b;
  }
  
body{
    width: 100%;
    min-height: 90vh;
      height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--white);
    background: var(--bg);
    overflow-x: hidden;
  }
  
.i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
header, footer{
  height: 70px;
  padding: 10px;
  justify-content: space-evenly !important;
  background: var(--main);
}

a{
  margin:0 10px;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  transition: .2s linear;
}

header a:hover{
  text-decoration: underline;
}

footer{
  position: relative;
  bottom: 0;
  margin-top: 100px;
  width: 100%;
}

.hero i{
  background-image: url("https://i.ibb.co/1G2M1K0/21786212.jpg");
  background-color: #cccccc;
  height: 150px; 
  background-position: center; 
  background-repeat: no-repeat;
  object-fit: cover; 
}
